fire==0.4.0
parse==1.19.0
distro==1.5.0
pyshark==0.4.3
six==1.15.0
lxml==4.6.3
w3lib==1.22.0
opencv_python==4.5.1.48
PyAutoGUI==0.9.52
requests==2.26.0
numpy==1.20.1
pyquery==1.4.3
beautifulsoup4==4.10.0
PyQt5==5.15.4
PyQtWebEngine==5.15.4